<!DOCTYPE html>
<html ng-app="leapmotion">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Leap Motion Vehicle Gesture Service</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="leap-0.6.3.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="Ctrl">

	<div class="wrapper">

		<nav>
			<a ng-click="enterMode('ac')" class="btn btn-default btn-lg glyphicon glyphicon-asterisk" ng-class="{active:inMode('ac')}"></a>
			<a ng-click="enterMode('window')" class="btn btn-default btn-lg glyphicon glyphicon-modal-window" ng-class="{active:inMode('window')}"></a>
			<a ng-click="enterMode('media')" class="btn btn-default btn-lg glyphicon glyphicon-music" ng-class="{active:inMode('media')}"></a>
			<a ng-click="enterMode('phone')" class="btn btn-default btn-lg glyphicon glyphicon-earphone" ng-class="{active:inMode('phone')}"></a>
		</nav>

		<section id="window" ng-show="inMode('window')">
			<div></div>
		</section>

		<section id="ac" ng-show="inMode('ac')">
			<span id="temp"></span>
		</section>

		<section id="phone" ng-show="inMode('phone')">
			<span id="caller"></span>
		</section>

		<section id="media" ng-show="inMode('media')">
			<span id="track"></span>
			<audio id="audio" controls="true"></audio>
		</section>

	</div>

	<canvas id="screen"></canvas>

	<script type="text/javascript" src="controller.js"></script>

</body>
</html>
