canvas#screen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

audio {
	width: 100%;
}

nav  {
	text-align: center;
}

nav .btn {
	padding: 20px 56px;
	font-size: 54px;
	margin: 20px;
}

#volume {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	width: 200px;
	margin: 3px 0;
	margin-left: -100px;
	height: 20px;
	color: #CCDAFF;
	font-size: 30px;
}

#volume .inner {
	background: #337ab7;
	border-radius: 3px;
	padding: 2px 5px;
	white-space: nowrap;
}

#phone img {
	box-shadow: 2px 2px 5px #888;
}

#accept {
	color: #080;
	font-size: 20px;
}

#decline {
	color: #800;
	font-size: 20px;
}

.phone {
	font-size: 30px;
}

.grey {
	color: #AAA !important;
}

#top-window-status-bar {
	transform: rotate(270deg);
	position: absolute;
	right: -149px;
	bottom: 143px;
	width: 316px;
}